<div class="container">
<span style="color:red;">{{error.message}}</span>
<form>
<div class="form-group">
Enter BlogTitle::
<input type="text" ng-model="blogPost.blogTitle" class="form-control">
</div>

<div class="form-group">
Enter Blog Content::
<textarea rows="5" cols="20" ng-model="blogPost.blogContent" class="form-control"></textarea>
</div>


<button type="submit" value="Post" ng-click="addBlogPost()">POST BLOG</button>
</form>
</div>
<footer class="footer" style="position: fixed;">
      <div style="color: white;">      
      <a data-target="#demo" data-toggle="collapse" style="color: white;font-size: medium; text-decoration: none; ">About Us</a>
         		<div id="demo" class="collapse in">
      <p>Allin1 is one of Collaboration portal.<br>Here you can create a blog very easily,get description of various jobs,chatting with friends.</p>
         	</div>
      <ul class="social-icon animate pull-right">
                  <li><a href="http://facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                  <li><a href="http://twitter.com" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="http://googleplus.com" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="http://linkedin.com" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                  <li><a href="http://instagram.com" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
       
 
                </div>
    </footer>