<div class="container">
<div class="row">
<div>
<div class="panel panel-default">
<div class="panel heading">
<div><h3>BlogTiTle: {{blogPost.blogTitle}}</h3></div>
<div>
<span><strong>Created By: </strong>{{blogPost.postedBy.userId}}</span>
<br>
<span><strong>On: </strong>{{blogPost.postedOn | date:'medium'}}</span>
</div>

<div class="panel-body"><strong>Blog content:</strong> {{blogPost.blogContent}}</div>
</div>
</div>
</div>
</div>
{{blogPost.likes}}Likes
<a><span class="glyphicon glyphicon-thumbs-up" ng-class="isLiked?'liked':'default'" ng-click="updateLikes()"></span></a>
<br>
<b>comments <i class="fa fa-comments" aria-hidden="true"></i>
</b>
<ul>
<li ng-repeat="blogComment in blogComments">
{{blogComment.commentText}}
<strong>by</strong> {{blogComment.commentedBy.userId}}
<strong>on</strong>{{blogComment.commentedOn | date : 'medium'}}
</li>
</ul>
<div>
<textarea rows="2" cols="30" ng-model="blogComment.commentText"></textarea>
<button class="btn btn-primary" value="POST COMMENT" ng-click="addComment()">POST COMMENT</button>
</div>
</div>
<footer class="footer" style="position: fixed;">
      <div>      
      <lable style="color: white;">About Us</lable>
      <p style="color: white;">Allin1 is one of Collaboration portal.<br>Here you can create a blog very easily,get description of various jobs,chatting with friends.</p>
         	
      <ul class="social-icon animate pull-right">
                  <li><a href="http://facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                  <li><a href="http://twitter.com" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="http://googleplus.com" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="http://linkedin.com" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                  <li><a href="http://instagram.com" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
       
 
                </div>
    </footer>