<div style="text-align: center; padding: 10px;">
<input type="text" ng-model="searchText" placeholder="Search Blogs...">
</div>
<div ng-show="currentUser.role=='ADMIN'">         <!-- if login user role is admin then show this table -->
<B>Lists of Blogs Waiting for approval</B>
<table class="table table-striped">
<thead>
<tr>
<th>Blogs Title</th>
<th>Author</th>
<th>Posted on</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="blogPost in listOfBlogsWaitingForApproval">   <!-- here blogPost is local variable having all properties like id,blogtitle,postedby,postedon...etc -->
<td><a href="#/getApprovalForm/{{blogPost.blogId}}">{{blogPost.blogTitle}}</a></td>		<!--it generate url like #/getBlogById/111   (111 is id)  -->
<td>{{blogPost.postedBy.userId}}</td>
<td>{{blogPost.postedOn | date : 'dd/MM/yyyy hh:mm'}}</td>
</tr>
</tbody>
</table>
</div>
<!--=================================================================================  -->
<div class="container">
<div class="col-lg-12">
<b style="color:#D2691E;">List of approved blogs</b>
<table class="table table-striped">
<thead>
<tr>
<th>Blogs Title</th>
<th>Author</th>
<th>Posted on</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="blogPost in listOfBlogsApproved | filter:searchText">
<td><a href="#/getBlogById/{{blogPost.blogId}}">{{blogPost.blogTitle}}</a></td>
<td>{{blogPost.postedBy.userId}}</td>
<td>{{blogPost.postedOn | date : 'dd/MM/yyyy hh:mm'}}</td>
</tr>
</tbody>
</table>
</div>
</div>