<div class="container" style="color: black;">
<h1>Contact Form</h1>
<div class="col-md-12">
	<div class="row">
		<form name="frm1" method="post">
		<div class="col-lg-12">
                                <div class="form-part">
                                    <ul>
                                       <br><br>
                                            <div class="form-group shaddow">
                                                <div class="input-group">
                                                <label>Name</label>
                                                     <input type="text" class="form-control no-radius" name="fname" required="required"/>
                                                </div>
                                            </div>
                                       <br>                                      
                                            <div class="form-group">
                                                <div class="input-group shaddow">
                                                <label>Email</label>
                                                    <input type="text" required="required" name="femail"  aria-describedby="inputGroupSuccess1Status" class="form-control no-radius"/>
                                                </div>
                                            </div>
                                        <br>
                                            <div class="form-group">
                                                <div class="input-group shaddow">
                                                <label>Mobile No.</label>
                                                   <input type="text" class="form-control no-radius" aria-describedby="inputGroupSuccess1Status"  name="fphone" required="required"/>
                                                </div>
                                            </div>
                                      <br>
                                       <label>Message</label>
                                            <textarea rows="4" class="form-control no-radius shaddow"></textarea>
                                         <br>
                                            <button role="button" class="btn btn-primary">Submit</button>
    										<button role="button" class="btn btn-primary">Cancel</button>
                                          </ul>
                                </div>
                                </div>
                            </form>
	</div></div>
</div>