<div class="container">
<span style="color: red" ng-if="error.code==1">{{error.message}}</span>

<form>
<h2>Update Your Profile...!!!</h2>
<div class="form-group">
Enter Username:
<input type="text" ng-model="users.userId" class="form-control" disabled>
<span style="color: red" ng-if="error.code==2">{{error.message}}</span>
</div>

<div class="form-group">
Enter Password:
<input type="password" ng-model="users.password" class="form-control">
</div>

<div class="form-group">
Enter Firstname:
<input type="text" ng-model="users.firstName" class="form-control">
</div>

<div class="form-group">
Enter Lastname:
<input type="text" ng-model="users.lastName" class="form-control" >
</div>

<div class="form-group">
Enter Email:
<input type="email" ng-model="users.email" class="form-control">
<span style="color: red" ng-if="error.code==3">{{error.message}}</span>
</div>

<div class="form-group">
Enter Phone Number:
<input type="text" ng-model="users.phonenumber" class="form-control">
</div>

<div class="form-group">
Select Role:
<input type="radio" ng-model="users.role" value="STUDENT">Student
<input type="radio" ng-model="users.role" value="EMPLOYEE">Employee
<input type="radio" ng-model="users.role" value="ALUMINI">Alumini
</div>

<input type="submit" value="edit" ng-click="updateUser()">
</form>
</div>