<div class="container">
<span style="color: red" ng-if="error.code==1">{{error.message}}</span>

<form>
<h2>Update Your Profile...!!!</h2>
<div class="form-group">
Enter Username:
<input type="text" ng-model="users.userId" class="form-control" disabled>
<span style="color: red" ng-if="error.code==2">{{error.message}}</span>
</div>

<div class="form-group">
Enter Password:
<input type="password" ng-model="users.password" class="form-control">
</div>

<div class="form-group">
Enter Firstname:
<input type="text" ng-model="users.firstName" class="form-control">
</div>

<div class="form-group">
Enter Lastname:
<input type="text" ng-model="users.lastName" class="form-control" >
</div>

<div class="form-group">
Enter Email:
<input type="email" ng-model="users.email" class="form-control">
<span style="color: red" ng-if="error.code==3">{{error.message}}</span>
</div>

<div class="form-group">
Enter Phone Number:
<input type="text" ng-model="users.phonenumber" class="form-control">
</div>

<div class="form-group">
Select Role:
<input type="radio" ng-model="users.role" value="STUDENT">Student
<input type="radio" ng-model="users.role" value="EMPLOYEE">Employee
<input type="radio" ng-model="users.role" value="ALUMINI">Alumini
</div>

<button type="submit" value="edit" ng-click="updateUser()">Edit Profile</button>
</form>
</div>
<footer class="footer" style="position: relative;">
      <div style="color: white;">      
      <a data-target="#demo" data-toggle="collapse" style="color: white;font-size: medium; text-decoration: none; ">About Us</a>
         		<div id="demo" class="collapse in">
      <p>Allin1 is one of Collaboration portal.<br>Here you can create a blog very easily,get description of various jobs,chatting with friends.</p>
         	</div>
      <ul class="social-icon animate pull-right">
                  <li><a href="http://facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                  <li><a href="http://twitter.com" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="http://googleplus.com" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="http://linkedin.com" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                  <li><a href="http://instagram.com" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
       
 
                </div>
    </footer>