<div>
<!-- Left-aligned media object -->
  <div class="media" style="margin-right: 180px;">
    <div class="media-left">
      <img src="images/blogg.jpg" class="media-object" style="width:200px; margin-left: 285px; ">
    </div>
    <div class="media-body" style="margin-right: 290px;color:navy;font-family: cursive;">
        <p>	<h2>Connecting People...</h3>
			<h3>Publish your passions,your way</h3>
			<h2>Create a unique & beautiful blog</h2></p>
    </div>
  </div>
   
  <!-- Right-aligned media object -->
  <div class="media"  style=" margin-left: 290px;">
    <div class="media-body" style="color:#7b241c;font-family: cursive;">
          <p>	<h2>Share Your Thoughts...</h3>
				<h3>Chat with your friends</h3></p>
    </div>
    <div class="media-right">
      <img src="images/fnd.jpg" class="media-object" style="width:200px; margin-right: 168px;">
    </div>
  </div>
  
  <!-- Left-aligned media object -->
  <div class="media" style="margin-right: 180px;">
    <div class="media-left">
      <img src="images/job.jpg" class="media-object" style="width:200px; margin-left: 285px; ">
    </div>
    <div class="media-body" style="color: #196f3d;font-family: cursive;">
         <p><h2>Job Searching???</h3>
<h3>Search Job As per your skills... </h3></p>
    </div>
  </div>
  
  
  
</div>

<footer class="footer" style="position: relative;">
      <div style="color: white;">      
      <a data-target="#demo" data-toggle="collapse" style="color: white;font-size: medium; text-decoration: none; ">About Us</a>
         		<div id="demo" class="collapse in">
      <p>Allin1 is one of Collaboration portal.<br>Here you can create a blog very easily,get description of various jobs,chatting with friends.</p>
         	</div>
      <ul class="social-icon animate pull-right">
                  <li><a href="http://facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                  <li><a href="http://twitter.com" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="http://googleplus.com" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="http://linkedin.com" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                  <li><a href="http://instagram.com" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
       
 
                </div>
    </footer>