<div class="container">
<span style="color:red;">{{error.message}}</span>
<form>
<div class="form-group">
Enter JobTitle::
<input type="text" ng-model="job.jobTitle" class="form-control">
</div>

<div class="form-group">
Enter Job Description::
<textarea rows="3" cols="20" ng-model="job.jobDescription"></textarea>
</div>

<div class="form-group">
Enter Skills::
<input type="text" ng-model="job.skillRequired" class="form-control">
</div>

<div class="form-group">
Enter Salary::
<input type="text" ng-model="job.salary" class="form-control">
</div>

<div class="form-group">
Enter Location::
<input type="text" ng-model="job.location" class="form-control">
</div>

<div class="form-group">
Enter Company Name::
<input type="text" ng-model="job.companyName" class="form-control">
</div>

<button type="submit" value="Post Job" ng-click="addJob()">post job</button>
</form>
</div>
<footer class="footer" style="position: relative;">
      <div>      
      <lable style="color: white;">About Us</lable>
      <p style="color: white;">Allin1 is one of Collaboration portal.<br>Here you can create a blog very easily,get description of various jobs,chatting with friends.</p>
         	
      <ul class="social-icon animate pull-right">
                  <li><a href="http://facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                  <li><a href="http://twitter.com" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="http://googleplus.com" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="http://linkedin.com" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                  <li><a href="http://instagram.com" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
       
 
                </div>
    </footer>