
<div style="text-align: center; padding: 10px;">
<input type="text" ng-model="searchText" placeholder="Search Jobs...">
</div>
<div class="container11">
<h2 style="color: #4b0082;">Job List</h2>
<br>
<table class="table table-striped">
<thead>
<tr>
<th>Job Title</th>
<th>Posted on</th>
<th>Skills</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="job in jobs | filter:searchText">
<td><a href="" ng-click="getJobDetails(job.jobId)">{{job.jobTitle}}</a></td>
<td>{{job.postedOn | date : 'dd/MM/yyyy hh:mm'}}</td>
<td>{{job.skillRequired}}</td>
</tr>
</tbody>
</table>
<div ng-show="showJobDetails">
<h3>JobDetails</h3>
<pre>
JobTitle:{{job.jobTitle}}
Job Description:{{job.jobDescription}}
Skills required:{{job.skillRequired}}
Salary:{{job.salary}}
Location:{{job.location}}
Company Name:{{job.companyName}}
Posted On:{{job.postedOn | date:'medium'}}
</pre>
</div>
</div>
<br>
<br>
<footer class="footer" style="position: relative;">
      <div>      
      <lable style="color: white;">About Us</lable>
      <p style="color: white;">Allin1 is one of Collaboration portal.<br>Here you can create a blog very easily,get description of various jobs,chatting with friends.</p>
         	
      <ul class="social-icon animate pull-right">
                  <li><a href="http://facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                  <li><a href="http://twitter.com" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="http://googleplus.com" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="http://linkedin.com" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                  <li><a href="http://instagram.com" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
       
 
                </div>
    </footer>