<div style="text-align: center; padding: 10px;">
<span ng-if="listOfFriends.length==0"><b>NO Friends</b></span>
</div>
<div class="container" style="text-align: center;">
<h3><b style="color: #4b0082; font-family: cursive;">Friend List</b></h3>
<table class="table table-hover table-condenced">
<tbody>
<tr ng-repeat="user in friends">
<td>{{user}}</td>
<td><img src="http://localhost:8085/CollaborationRestServices/getProfilePicture/{{user}}" alt="Image Not Available" height="40px" width="40px"></td>
</tr>
</tbody>
</table>
</div>