<div class="container">
<span style="color: red"><b>{{error}}</b></span>
<span style="color: red"><b>{{errorMsg}}</b></span>

<form name="myform" novalidate>    <!-- action="perform_login" -->
<h2 align="center">Login Here</h2>
<div class="imgcontainer" align="center">
    <img src="images/userIcon.png" alt="Avatar" class="avatar" height="25%" width="30%">
</div>
<div class="form-group">
<lable>Enter Username</lable> 
<input type="text" name="userId" ng-model="userobj.userId" class="form-control" required/>
<span style="color:red" ng-show="myform.userId.$touched && myform.userId.$invalid">Username is required.</span>
</div>

<div class="form-group">
<lable>Enter password</lable>
<input type="password" name="password" ng-model="userobj.password" class="form-control" required/>
<span style="color:red" ng-show="myform.password.$dirty && myform.password.$invalid">Password is required.</span>
</div>

<button type="submit" ng-disabled="myform.userId.$dirty && myform.userId.$invalid || myform.password.$dirty
 && myform.password.$invalid" ng-click="Login()">Login</button>
<p class="message">Not registered? <a href="#/Register">Create an account</a></p>
<!-- <input type="hidden" name="${_csrf.parameterName}"
			value="${_csrf.token}" /> -->
</form>
</div>
<footer class="footer" style="position: relative;">
      <div style="color: white;">      
      <a data-target="#demo" data-toggle="collapse" style="color: white;font-size: medium; text-decoration: none; ">About Us</a>
         		<div id="demo" class="collapse in">
      <p>Allin1 is one of Collaboration portal.<br>Here you can create a blog very easily,get description of various jobs,chatting with friends.</p>
         	</div>
      <ul class="social-icon animate pull-right">
                  <li><a href="http://facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                  <li><a href="http://twitter.com" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="http://googleplus.com" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="http://linkedin.com" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                  <li><a href="http://instagram.com" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
       
 
                </div>
    </footer>