<div style="text-align: center; padding: 10px;">
<span ng-if="suggestedUsers.length==0"><b>NO Suggested users</b></span>
</div>
<div class="container11">
<div class="col=lg-12">
<table class="table table-hover table-condenced">
<tbody>
<h3 style="text-align: center; color: #D2691E;"><b>Suggested Users...</b></h3>
<tr ng-repeat="user in suggestedUsers">

<td>{{user.userId}}</td>
<td>{{user.firstName}} {{user.lastName}}</td>
<td>{{user.role}}</td>
<td>{{user.email}}</td>
<td ng-if="user.isOnline">YES</td>
<td ng-if="!user.isOnline">NO</td>
<td><img src="http://localhost:8085/CollaborationRestServices/getProfilePicture/{{user.userId}}"></td>
<td><a class="btn btn-default" ng-click="sendFriendRequest(user.userId)">Send Friend Request</a></td>

</tr>
</tbody>
</table>
</div>
</div>